.__article-category {
  display: flex;
  align-items: center;
  
}

.__article-category img {
  max-width: 100%;
}

.__article-category a {
  
  padding: 1.3rem;
  background: #2945FF;
  border-radius: 26px;
  color: #fff;
  margin-left: 2rem;
}

.__article-category a:hover {
  background: #EDF5FF;
  color: #2945FF;
}

.__article-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.__article-item h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  max-width: 250px;
}

@media screen and (max-width: 1024px) {
  .__article-line {
    justify-content: center;
  }
  .__article-item {
    padding: 2rem;
  }

  .__article-category {
    flex-wrap: wrap;
  }

  .__article-explore {
    margin: 2rem -2rem;
  } 
}


