.space-home {
  margin-top: 15rem;
}

.__description-home {
  margin: 0 auto;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 7rem;
}

.__description-home p {
  margin: 0 auto;
  max-width: 55rem;
  margin-top: 1rem;
}
.__benef-cards {
  display: flex;
  justify-content: space-between;
}

.__benef-item {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  padding: 2rem;
}

.__benef-item p {
  font-size: 1.6rem;
}

.__benef-item:first-child {
  background: #EDF5FF;
}

.__benef-item:last-child {
  background: #F5EDFF;
}

@media screen and (max-width: 1024px) {
  .__benef-cards {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .__benef-item {
    flex-direction: column;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
   
  }
}