.explore-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  background-image: url(../../img/home2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6rem;
  position: absolute;
  left: 0;
  top: 8rem;
}

.explore-banner__text h1{
  text-align: center;
  color: #fff;
}

.clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clearfix li {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.clearfix img {
  width: 100%;
}

.home-momento {
margin-top: 50rem;
}

.home-momento img{
  width: 100%;
}

.home-covid img {
  width: 100%;
}

.explore__text {
  margin-bottom: 2rem;
}