.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
}

.__home-left  {
  inline-size: 450px;
  display: flex;
  flex-direction: column;
}

.__home-left span {
  color: #162CBF;
}
.__home-item {
  margin-bottom: 4rem;
}

.__home-btn {
  padding: 1.4rem;
  background: #2945FF;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  width: 70%;
}

.__home-btn:hover {
  background: #162CBF;
}

@media screen and (max-width: 1024px) {
  .home {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home img {
    width: 90%
  }

  .__home-left {
    margin-bottom: 5rem;
    text-align: center;
  }

  .__home-right {
    align-items: center;
    ;
  }
  .__home-btn {
    width: 100%;
  }
}

