.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.__home-left  {
  max-width: 500px;
}

.__home-left span {
  color: #162CBF;
}
.__home-item {
  margin-bottom: 4rem;
}

.__home-btn {
  padding: 1.7rem 10rem;
  background: #2945FF;
  border-radius: 32px;
  color: #fff;
}

